@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --- primary --- */

  /* text */
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);

  /* background gradient */
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  /* --- neutral --- */

  /* text */
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  /* dividers */
  --light-grayish-blue: hsl(240, 5%, 91%);
}
body {
  min-height: 100vh;
  font-family: "Kumbh Sans", sans-serif; /* weights: 400, 700 */
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(var(--soft-violet), var(--soft-blue));
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 328px;
  padding-top: 105px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 28px 24px -2px rgba(88, 65, 185, 1);
}

.card__hero-mobile {
  position: absolute;
  top: -107px;
  left: 46px;
}

.card__hero-desktop {
  display: none;
}

.card__hero-image {
  width: 240px;
}

.card__hero-image-shadow {
  position: relative;
  top: -75px;
}

.card__faq {
  padding: 25px 25px 50px 25px;
}

.card__faq-header {
  color: var(--very-dark-desaturated-blue);
  font-size: 2rem;
  text-align: center;
}

.card__faq-questions {
  margin-top: 15px;
  list-style-type: none;
}

.card__faq-question-container {
  width: 280px;
  padding: 17px 0;
  border-bottom: 1px solid var(--light-grayish-blue);
}

.card__faq-question {
  position: relative;
  font-size: 0.85rem;
  font-weight: 400;
  color: var(--very-dark-grayish-blue);
}

.card__faq-question::after {
  content: url(/images/icon-arrow-down.svg);
  position: absolute;
  right: 0;
}

.card__faq-question:hover {
  cursor: pointer;
}

.faq-question--active {
  color: var(--very-dark-desaturated-blue);
  font-weight: 700;
}

.faq-question--active::after {
  transform: rotate(180deg);
}

.card__faq-answer {
  display: none;
  padding: 10px 15px 0 0;
  line-height: 150%;
  color: var(--dark-grayish-blue);
}

.faq-answer--visible {
  display: block;
}

@media (min-width: 1245px) {
  .card {
    max-width: 922px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 220px 32px 82px;
    /* overflow: hidden; */
  }

  .card__hero-mobile {
    display: none;
  }

  .card__hero-desktop {
    display: block;
  }

  .card__hero-image {
    width: 500px;
  }
  .card__hero-image-shadow {
    position: static;
    width: 30px;
  }

  .card__faq-header {
    text-align: left;
  }

  .card__faq-questions {
    margin-top: 20px;
  }

  .card__faq-question-container {
    width: 330px;
  }
}
